<div class="post-left-info" style="{{ was ? 'opacity: 0.2' : will ? 'opacity: 0.6' }}">
    <div class="post-date">
        <span class="day">{{ day | default('now' | date('d')) }}</span>
        <span class="month">{{ month | default('now' | date('M') | upper) }}</span>
    </div>
</div>
<div class="post-content">
    <div class="post-image" style="{{ was ? 'opacity: 0.2' : will ? 'opacity: 0.6' }}">
        <a href="{{ link }}"><img src="{{ image }}" alt=""></a>
    </div>
    <div class="post-info">
        <h4 class="post-title">
            <a href="{{ link }}">{{ name }}</a>
        </h4>
        <div class="post-desc">
            {{ description }}
        </div>
    </div>
</div>