{% extends 'base.html.twig' %}

{% block body %}
    {% set countEating = user.dietAdditionalInformation.countEating %}
    {% set curHour = activeDate | date('H') %}
    {% set curMin = activeDate | date('i') | number_format %}
    {% set breakfastStart = constant('AppBundle\\Entity\\Eating::BREAKFAST_START') %}
    {% set breakfastEnd = constant('AppBundle\\Entity\\Eating::BREAKFAST_END') %}
    {% set lunchStart = constant('AppBundle\\Entity\\Eating::LUNCH_START') %}
    {% set lunchEnd = constant('AppBundle\\Entity\\Eating::LUNCH_END') %}
    {% set dinnerStart = constant('AppBundle\\Entity\\Eating::DINNER_START') %}
    {% set dinnerEnd = constant('AppBundle\\Entity\\Eating::DINNER_END') %}
    {% set afternoonSnackStart = constant('AppBundle\\Entity\\Eating::AFTERNOON_SNACK_START') %}
    {% set afternoonSnackEnd = constant('AppBundle\\Entity\\Eating::AFTERNOON_SNACK_END') %}
    {% set supperStart = constant('AppBundle\\Entity\\Eating::SUPPER_START') %}
    {% set supperEnd = constant('AppBundle\\Entity\\Eating::SUPPER_END') %}
    {% set secSupperStart = constant('AppBundle\\Entity\\Eating::SEC_SUPPER_START') %}
    {% set secSupperEnd = constant('AppBundle\\Entity\\Eating::SEC_SUPPER_END') %}

    {% set isBreakfastPast = curHour > breakfastEnd or curHour == breakfastEnd and curMin > 0 %}
    {% set isBreakfastFuture = curHour < breakfastStart %}
    {% set isSecBreakfastPast = curHour > lunchEnd or curHour == lunchEnd and curMin > 0%}
    {% set isSecBreakfastFuture = curHour < lunchStart%}
    {% set isDinnerPast = curHour > dinnerEnd or curHour == dinnerEnd and curMin > 0%}
    {% set isDinnerFuture = curHour < dinnerStart%}
    {% set isAfternoonSnackPast = curHour > afternoonSnackEnd or curHour == afternoonSnackEnd and curMin > 0%}
    {% set isAfternoonSnackFuture = curHour < afternoonSnackStart%}
    {% set isSupperPast = curHour > supperStart or curHour == supperStart and curMin > 0%}
    {% set isSupperFuture = curHour < supperEnd%}
    {% set isSecSupperPast = curHour > secSupperEnd or curHour == secSupperEnd and curMin > 0%}
    {% set isSecSupperFuture = curHour < secSupperEnd%}
    <div id="content" class="content" ng-init="isShowPast = true; isShowPresent = true; isShowFuture = true;" {{ curMin }}>
        <div class="container">
            <div class="row row-space-30">
                <div class="col-md-9">
                    <ul class="post-list">
                        <li ng-show="{{ isBreakfastPast ? 'isShowPast' : isBreakfastFuture ? 'isShowFuture' : 'isShowPresent'}}">
                            {%  include(':templates:single-eating-layout.html.twig') with {'link': path("list_recipes", {date: activeDate | date('Y-m-d'), type: "breakfast"}),
                            'image': 'images/breakfast.jpg', 'name': 'Завтрак',
                            'description': 'Приём пищи с ' ~ breakfastStart ~ ':00 до ' ~ breakfastEnd ~ ':00',
                            'was' : isBreakfastPast, 'will' : isBreakfastFuture} %}
                        </li>
                        {% if countEating > 3 %}
                            <li ng-show="{{ isSecBreakfastPast ? 'isShowPast' : isSecBreakfastFuture ? 'isShowFuture' : 'isShowPresent'}}">
                                {%  include(':templates:single-eating-layout.html.twig') with {'link': path("list_recipes", {date: activeDate | date('Y-m-d'), type: "sec-breakfast"}),
                                'image': 'images/lunch.png', 'name': 'Второй завтрак',
                                'description': 'Приём пищи с ' ~ lunchStart ~ ':00 до ' ~ lunchEnd ~ ':00',
                                'was' : isSecBreakfastPast, 'will' : isSecBreakfastFuture} %}
                            </li>
                        {% endif %}
                        <li ng-show="{{ isDinnerPast ? 'isShowPast' : isDinnerFuture ? 'isShowFuture' : 'isShowPresent'}}">
                            {%  include(':templates:single-eating-layout.html.twig') with {'link': path("list_recipes", {date: activeDate | date('Y-m-d'), type: "dinner"}),
                            'image': 'images/dinner.jpg', 'name': 'Обед',
                            'description': 'Приём пищи с ' ~ dinnerStart ~ ':00 до ' ~ dinnerEnd ~ ':00',
                            'was' : isDinnerPast, 'will' : isDinnerFuture} %}
                        </li>
                        {% if countEating > 4 %}
                            <li ng-show="{{ isAfternoonSnackPast ? 'isShowPast' : isAfternoonSnackFuture ? 'isShowFuture' : 'isShowPresent'}}">
                                {%  include(':templates:single-eating-layout.html.twig') with {'link': path("list_recipes", {date: activeDate | date('Y-m-d'), type: "afternoon-snack"}),
                                'image': 'images/afternoon_snack.jpg', 'name': 'Полдник',
                                'description': 'Приём пищи с ' ~ afternoonSnackStart ~ ':00 до ' ~ afternoonSnackEnd ~ ':00',
                                'was' : isAfternoonSnackPast, 'will' : isAfternoonSnackFuture} %}
                            </li>
                        {% endif %}
                        <li ng-show="{{ isSupperPast ? 'isShowPast' : isSupperFuture ? 'isShowFuture' : 'isShowPresent'}}">
                            {%  include(':templates:single-eating-layout.html.twig') with {'link': path("list_recipes", {date: activeDate | date('Y-m-d'), type: "supper"}),
                            'image': 'images/supper.jpg', 'name': 'Ужин',
                            'description': 'Приём пищи с ' ~ supperStart ~ ':00 до ' ~ supperEnd ~ ':00',
                            'was' : isSupperPast, 'will' : isSupperFuture} %}
                        </li>
                        {% if countEating > 5 %}
                            <li ng-show="{{ isSecSupperPast ? 'isShowPast' : isSecSupperFuture ? 'isShowFuture' : 'isShowPresent'}}">
                                {%  include(':templates:single-eating-layout.html.twig') with {'link': path("list_recipes", {date: activeDate | date('Y-m-d'), type: "sec-supper"}),
                                'image': 'images/second_supper.jpg', 'name': 'Второй ужин',
                                'description': 'Приём пищи с ' ~ secSupperStart ~ ':00 до ' ~ secSupperEnd ~ ':00',
                                'was' : isSecSupperPast, 'will' : isSecSupperFuture} %}
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col-md-3">
                    <div class="section-container">
                        <h4 class="section-title"><span>Приёмы пищи</span></h4>
                        <ul class="sidebar-list">
                            <li><a ng-click="isShowPast = true; isShowPresent = false; isShowFuture = false;">Завершённые</a></li>
                            <li><a ng-click="isShowPast = false; isShowPresent = true; isShowFuture = false;">Текущий</a></li>
                            <li><a ng-click="isShowPast = false; isShowPresent = false; isShowFuture = true;">В режиме ожидания</a></li>
                            <li><a ng-click="isShowPast = true; isShowPresent = true; isShowFuture = true;">Все</a></li>
                            <li><a class="btn btn-success" href="{{ path("auto_sample_per_date", {date : activeDate | date("d-m-Y")}) }}">Автоматическая подборка блюд</a></li>
                        </ul>
                    </div>
                    <div class="section-container">
                        <h4 class="section-title"><span>Follow Us</span></h4>
                        <ul class="sidebar-social-list">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <ul class="pagination pagination-lg m-t-0 m-b-10">
                    <li><a href="{{ path('eating_list', {'date' : activeDate | date_modify("-3 day") | date("d-m-Y")}) }}">«</a></li>
                    <li><a href="{{ path('eating_list', {'date' : activeDate | date_modify("-2 day") | date("d-m-Y")}) }}">{{ activeDate | date_modify("-2 day") | date("d F") }}</a></li>
                    <li><a href="{{ path('eating_list', {'date' : activeDate | date_modify("-1 day") | date("d-m-Y")}) }}">{{ activeDate | date_modify("-1 day") | date("d F") }}</a></li>
                    <li class="active"><a nohref>{{ activeDate | date("d F") }}</a></li>
                    <li><a href="{{ path('eating_list', {'date' : activeDate | date_modify("+1 day") | date("d-m-Y")}) }}">{{ activeDate | date_modify("+1 day") | date("d F") }}</a></li>
                    <li><a href="{{ path('eating_list', {'date' : activeDate | date_modify("+2 day") | date("d-m-Y")}) }}">{{ activeDate | date_modify("+2 day") | date("d F") }}</a></li>
                    <li><a href="{{ path('eating_list', {'date' : activeDate | date_modify("+3 day") | date("d-m-Y")}) }}">»</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
