<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <base href="/">

        {% block stylesheets %}
            {% stylesheets output='bundles/app/css/main.css' filter='scssphp'
            'sass/core-import.scss'
            %}
            {% endstylesheets %}
        {% endblock %}
        <!-- ================== BEGIN BASE CSS STYLE ================== -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
        <link href="color_parallax/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet">
        <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="color_parallax/css/animate.min.css" rel="stylesheet">
        <link href="color_parallax/css/style.min.css" rel="stylesheet">
        <link href="color_parallax/css/style-responsive.min.css" rel="stylesheet">
        <link href="color_parallax/css/theme/default.css" rel="stylesheet" id="theme">
        <!-- only for Heroku deploy -->
        {#<link href="bundles/app/css/main.css" rel="stylesheet" id="theme">#}
        <link href="css/main.css" rel="stylesheet" id="theme">
        <link href="css/eating-list-default.min.css" rel="stylesheet">
        <link href="css/eating-custom.css" rel="stylesheet">
        {% if app.request.attributes.get('_route') == 'list_recipes' %}
            <link href="css/recipes-list-default.min.css" rel="stylesheet">
            <link href="css/recipe-list-default-responsive.css" rel="stylesheet">
            <link href="css/recipes-list-theme-default.css" rel="stylesheet">
        {% endif %}

        {% if app.request.attributes.get('_route') == 'about_us' %}
            <link href="css/about-us-style.min.css" rel="stylesheet">
            <link href="css/about-us-style-responsive.min.css" rel="stylesheet">
            {#<link href="css/recipes-list-theme-default.css" rel="stylesheet">#}
        {% endif %}
        <!-- ================== END BASE CSS STYLE ================== -->

        <!-- ================== BEGIN BASE JS ================== -->
        <script src="color_parallax/plugins/pace/pace.min.js"></script>
        <!-- ================== END BASE JS ================== -->

        <link rel="shortcut icon" href="//d85wutc1n854v.cloudfront.net/live/imgs/favicon.ico">
    </head>
    <body>
        <div id="page-container" class="page-container fade page-without-sidebar page-header-fixed">
            <div id="header" class="header navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a href="{{ path("homepage") }}" class="navbar-brand"><span class="navbar-logo"></span>HEALTHY FOOD</a>
                        <button type="button" class="navbar-toggle" data-click="top-menu-toggled">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    {% if app.user %}
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <ul class="nav navbar-nav navbar-right ul-nav">
                                    <li><a href="{{ path("eating_list") }}" data-click="scroll-to-target">Приёмы пищи</a></li>
                                    <li><a href="{{ path("about_us") }}" data-click="scroll-to-target">О создателе</a></li>
                                </ul>
                            </li>
                            <li class="dropdown navbar-user m-l-40">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                    <img id="user-navbar-photo" src="{{ app.user.photo | default('/color_parallax/img/user-13.jpg') }}" alt="" />
                                    <span class="hidden-xs">{{ app.user.firstName }} {{ app.user.lastName }}</span> <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu animated fadeInLeft">
                                    <li><a {#href="{{ path('edit_profile') }}"#}>Редактировать профиль</a></li>
                                    <li><a href="{{ logout_path('main') }}">Выход</a></li>
                                </ul>
                            </li>
                        </ul>
                    {% else %}
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="/" data-click="scroll-to-target">О Healthy Food</a></li>
                                    <li><a href="{{ path("about_us") }}" data-click="scroll-to-target">О создателе</a></li>
                                </ul>
                            </li>
                            <li class="unregistered">
                                <a href="{{ path('registration') }}" class="btn btn-success m-l-30 m-r-15 m-t-10">Зарегистрироваться</a>
                                <a href="{{ path('login') }}" class="btn btn-white m-l-40 m-t-10 btn-login">Войти</a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>

        {% block body %}{% endblock %}
        <!-- ================== BEGIN BASE JS ================== -->
        <script src="color_parallax/plugins/jquery/jquery-1.9.1.min.js"></script>
        <script src="color_parallax/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
        <script src="color_parallax/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
        <script src="color_parallax/plugins/jquery-hashchange/jquery.hashchange.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <!--[if lt IE 9]>
        <script src="color_parallax/crossbrowserjs/html5shiv.js"></script>
        <script src="color_parallax/crossbrowserjs/respond.min.js"></script>
        <script src="color_parallax/crossbrowserjs/excanvas.min.js"></script>
        <![endif]-->
        <script src="color_parallax/plugins/slimscroll/jquery.slimscroll.min.js"></script>
        <script src="color_parallax/plugins/jquery-cookie/jquery.cookie.js"></script>
        <!-- ================== END BASE JS ================== -->

        <!-- ================== BEGIN PAGE LEVEL JS ================== -->
        <script src="color_parallax/js/apps.min.js"></script>
        <!-- ================== END PAGE LEVEL JS ================== -->

        <script>
            $(document).ready(function() {
                App.init();
            });
        </script>
        {#{% block javascripts %}{% endblock %}#}
        </div>
    </body>
</html>
