<!DOCTYPE html>
<html ng-app="healthyFood">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <base href="/">
        {#http://www.seantheme.com/color-admin-v2.2/admin/html/index_v2.html#}
        {% block stylesheets %}
            {% stylesheets output='bundles/app/css/main.css' filter='scssphp'
            'sass/core-import.scss'
            %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}
            {% stylesheets output='bundles/app/css/vendors.css' filter='cssrewrite'
                'color_parallax/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css'
                'bower_components/bootstrap/dist/css/bootstrap.min.css'
                'bower_components/font-awesome/css/font-awesome.min.css'
                'color_parallax/css/animate.min.css'
                'bower_components/bootstrap-toggle/css/bootstrap2-toggle.min.css'
                'color_parallax/css/style.min.css'
                'color_parallax/css/style-responsive.min.css'
                'color_parallax/css/theme/default.css'
                'css/eating-list-default.min.css'
                'css/recipes-list-default.min.css'
                'css/recipe-list-default-responsive.css'
                'css/recipes-list-theme-default.css'
            %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}
        {% endblock %}
        <!-- ================== BEGIN BASE CSS STYLE ================== -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
        <!-- ================== END BASE CSS STYLE ================== -->

        <!-- ================== BEGIN BASE JS ================== -->
        <script src="color_parallax/plugins/pace/pace.min.js"></script>
        <!-- ================== END BASE JS ================== -->

        <link rel="shortcut icon" href="//d85wutc1n854v.cloudfront.net/live/imgs/favicon.ico">
    </head>
    <body>
        <div id="page-container" class="page-container fade page-without-sidebar">
            <div id="header" class="header navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a href="{{ path("homepage") }}" class="navbar-brand"><span class="navbar-logo"></span>HEALTHY FOOD</a>
                        <button type="button" class="navbar-toggle" data-click="top-menu-toggled">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    {% if app.user %}
                        {% set countAllNofitications = notificator.getCountUnreadAllNotificationsForUser(app.user) %}
                        {% set countAINofitications = 3 %}
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <ul class="nav navbar-nav navbar-right ul-nav">
                                    <li><a href="{{ path("homepage") }}">Главная</a></li>
                                    <li><a href="{{ path("eating_list", {'date': 'now' | date("d-m-Y")}) }}" data-click="scroll-to-target">Приёмы пищи</a></li>
                                    <li><a href="{{ path("notifications") }}" data-click="scroll-to-target">Уведомления{% if countAllNofitications > 0 %}<span class="label">{{ countAllNofitications }}</span>{% endif %}</a></li>
                                    <li><a href="{{ path("ai_supposition") }}" data-click="scroll-to-target">ИИ{% if countAINofitications > 0 %}<span class="label">{{ countAINofitications }}</span>{% endif %}</a></li>
                                    <li><a href="{{ path("homepage") }}" data-click="scroll-to-target">О нас</a></li>
                                </ul>
                            </li>
                            <li class="dropdown navbar-user m-l-40">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                    <img id="user-navbar-photo" src="{{ app.user.photo | default('/images/no-photo.jpg') }}" alt="" />
                                    <span class="hidden-xs">{{ app.user.firstName }} {{ app.user.lastName }}</span> <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu animated fadeInLeft">
                                    <li><a href="{{ path('edit_profile') }}">Редактировать профиль</a></li>
                                    <li><a href="{{ logout_path('main') }}">Выход</a></li>
                                </ul>
                            </li>
                        </ul>
                    {% else %}
                        <ul class="nav navbar-nav navbar-right">
                            {#<li>
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="/" data-click="scroll-to-target">О Healthy Food</a></li>
                                </ul>
                            </li>#}
                            <li class="unregistered">
                                <a href="{{ path('registration') }}" class="btn btn-success m-l-30 m-r-15 m-t-10" style="padding: 8px 16px;">Зарегистрироваться</a>
                                <a href="{{ path('login') }}" class="btn btn-white m-l-40 m-t-10 btn-login" style="padding: 8px 16px;">Войти</a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>

        {% block body %}{% endblock %}
        <!-- ================== BEGIN BASE JS ================== -->
            {% block javascripts %}
                {% javascripts output='bundles/app/js/vendors.js'
                    'color_parallax/plugins/jquery/jquery-1.9.1.min.js'
                    'color_parallax/plugins/jquery/jquery-migrate-1.1.0.min.js'
                    'color_parallax/plugins/jquery-ui/ui/minified/jquery-ui.min.js'
                    'color_parallax/plugins/jquery-hashchange/jquery.hashchange.min.js'
                    'bower_components/angular/angular.min.js'
                    'bower_components/angular-cookies/angular-cookies.min.js'
                    'bower_components/bootstrap/dist/js/bootstrap.min.js'
                    'bower_components/bootstrap-toggle/js/bootstrap2-toggle.min.js'
                    'color_parallax/plugins/slimscroll/jquery.slimscroll.min.js'
                    'color_parallax/plugins/jquery-cookie/jquery.cookie.js'
                    'color_parallax/js/apps.min.js'
                    'bower_components/moment/min/moment.min.js'
                    'bower_components/chart.js/dist/Chart.min.js'
                %}
                <script src="{{ asset_url }}"></script>
                {% endjavascripts %}
                {% javascripts output='bundles/app/js/main.js'
                    'js/app.js'
                    'js/homepage/directives.js'
                    'js/import-script/import.js'
                %}
                <script src="{{ asset_url }}"></script>
                {% endjavascripts %}
            {% endblock %}
        <!--[if lt IE 9]>
        <script src="color_parallax/crossbrowserjs/html5shiv.js"></script>
        <script src="color_parallax/crossbrowserjs/respond.min.js"></script>
        <script src="color_parallax/crossbrowserjs/excanvas.min.js"></script>
        <![endif]-->
        <!-- ================== END BASE JS ================== -->
        <script>
            $(document).ready(function() {
                App.init();
            });
        </script>
        </div>
    </body>
</html>
