{% extends 'base.html.twig' %}

{% block body %}
<div id="page-container" class="fade in">
    <!-- BEGIN #product -->
    <div id="product" class="section-container p-t-20">
        <!-- BEGIN container -->
        <div class="container">
            <div class="row">
                <!-- begin col-12 -->
                <div class="col-md-12">
                    <div class="result-container">
                        <div class="m-b-20" ng-init="recipeSearch = ''">
                            <input type="text" class="form-control" style="width: 100%;" ng-model="recipeSearch" placeholder="Поиск рецепта по названию">
                        </div>
                    </div>
                </div>
                <!-- end col-12 -->
            </div>
            <!-- BEGIN product -->
            <div class="product">
                <!-- BEGIN product-tab -->
                <div class="product-tab">
                    <!-- BEGIN #product-tab-content -->
                    <div id="product-tab-content" class="tab-content">
                        <!-- BEGIN #product-desc -->
                        <div class="tab-pane fade active in">
                            {% if chosenEating %}
                                <div class="product-desc" style="border: 15px ridge lawngreen;">
                                    <div class="image">
                                        <img src="{{ chosenEating.recipe.photo }}" alt="">
                                    </div>
                                    <div class="desc">
                                        <h4><a href="{{ path("single_recipe", {"id" : chosenEating.recipe.id}) }}">{{ chosenEating.recipe.name }}</a></h4>
                                        <p>
                                            {% for product in chosenEating.recipe.products %}
                                                {{ product.name }}{{ not loop.last ? ','}}
                                            {% endfor %}
                                        </p>
                                    </div>
                                </div>
                            {% endif %}
                            <!-- BEGIN product-desc -->
                            <div show-more-recipes all-recipes="{{ recipes | json_encode }}" most-popular="mostPopularRecipeId" ng-init="showCount = 10">
                                <div class="product-desc" ng-repeat="recipe in allRecipes"
                                     ng-show="$index <= showCount && (recipeSearch === '' || recipe.name.toLowerCase().indexOf(recipeSearch.toLowerCase()) >= 0)"
                                     ng-style="{border: {true:'7px dotted lightsalmon',false:''}[$first && recipe.id === '{{ mostPopularRecipeId }}'], opacity: {true:'0.6',false:''}[recipe.calories > {{ availableCalories }}]}">
                                    <div class="image">
                                        <img ng-src="{[{recipe.photo}]}" alt="">
                                    </div>
                                    <div class="desc">
                                        <h4><a ng-href="/recipe/{[{recipe.id}]}" ng-bind="recipe.name"></a></h4>
                                        <p>
                                            <span ng-repeat="product in recipe.products" ng-bind="product + ($last ? '' : ', ')">
                                            </span>
                                        </p>
                                        {% if chosenEating and canChoose  %}
                                            <a class="btn btn-primary" ng-show="recipe.calories <= {{ availableCalories }}" ng-click="chooseRecipe('{{ date }}', recipe.id, '{{ type }}', recipe.portions, recipe.portionWeight, recipe.calories);">Изменить выбор</a>
                                        {% elseif not chosenEating and canChoose %}
                                            <a class="btn btn-primary" ng-show="recipe.calories <= {{ availableCalories }}" ng-click="chooseRecipe('{{ date }}', recipe.id, '{{ type }}', recipe.portions, recipe.portionWeight, recipe.calories);">Выбрать</a>
                                        {% endif %}
                                        <span ng-hide="recipe.calories <= {{ availableCalories }}" style="color: red; font-size: 14px;">Вы не можете выбрать это блюдо, так как 1 порция этого блюда содержить непозволительное для Вас на сегодня объём калорий. Если вы всё таки хотите выбрать это блюдо - измените выбор для других приёмов пиши.</span>
                                    </div>
                                </div>
                            </div>
                            <!-- END product-desc -->
                        </div>
                        <!-- END #product-desc -->
                    </div>
                    <button class="btn btn-primary" style="left: 45%; position: relative; margin-bottom: 28px;" ng-show="showCount < 50" ng-click="showCount = showCount + 10;">Показать ещё</button>
                    <!-- END #product-tab-content -->
                </div>
                <!-- END product-tab -->
            </div>
            <!-- END product -->
        </div>
    </div>
</div>
{% endblock %}