{% extends 'base.html.twig' %}

{% block body %}
    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="width: 100%;">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade in hide"><span class="spinner"></span></div>
    <!-- end #page-loader -->

    <!-- begin #page-container -->
    <div id="page-container" class="fade in">
        <!-- begin register -->
        <div class="register register-with-news-feed">
            <!-- begin news-feed -->
            <div class="news-feed">
                <div class="news-image">
                    <img src="http://xvatit.com/uploads/posts/2015-07/1437718687_1.jpg" alt="">
                </div>
            </div>
            <!-- end news-feed -->
            <!-- begin right-content -->
            <div class="right-content">
                <!-- begin register-header -->
                <h1 class="register-header">
                    Регистрация
                </h1>
                <!-- end register-header -->
                <!-- begin register-content -->
                <div class="register-content">
                    <form action="{{ path("registration") }}" method="POST" class="margin-bottom-0">
                        {{ form_widget(form._token) }}
                        {{ form_label(form.firstName) }}
                        <div class="row m-b-15">
                            <div class="col-md-12 {{ form_errors(form.firstName)| length ? 'has-error' }}">
                                {{ form_widget(form.firstName) }}
                                {{ form_errors(form.firstName) }}
                            </div>
                        </div>
                        {{ form_label(form.lastName) }}
                        <div class="row m-b-15">
                            <div class="col-md-12 {{ form_errors(form.lastName)| length ? 'has-error' }}">
                                {{ form_widget(form.lastName) }}
                                {{ form_errors(form.lastName) }}
                            </div>
                        </div>
                        {{ form_label(form.email) }}
                        <div class="row m-b-15">
                            <div class="col-md-12 {{ form_errors(form.email)| length ? 'has-error' }}">
                                {{ form_widget(form.email) }}
                                {{ form_errors(form.email) }}
                            </div>
                        </div>
                        <div class="row row-space-10">
                            <div class="col-md-4">
                                {{ form_label(form.height) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_label(form.weight) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_label(form.gender) }}
                            </div>
                        </div>
                        <div class="row row-space-10">
                            <div class="col-md-4 m-b-15 {{ form_errors(form.height)| length ? 'has-error' }}">
                                {{ form_widget(form.height) }}
                                {{ form_errors(form.height) }}
                            </div>
                            <div class="col-md-4 m-b-15 {{ form_errors(form.weight)| length ? 'has-error' }}">
                                {{ form_widget(form.weight) }}
                                {{ form_errors(form.weight) }}
                            </div>
                            <div class="col-md-4 m-b-15 {{ form_errors(form.gender)| length ? 'has-error' }}">
                                {{ form_widget(form.gender, {attr: {"data-toggle" : "toggle", "data-style" : "ios",
                                    "data-height" : "34px", "data-width" : "50px", "data-on" : "Муж",
                                    "data-off" : "Жен", "data-offstyle" : "info", "data-onstyle" : "primary"}}) }}
                                {{ form_errors(form.gender) }}
                            </div>
                        </div>
                        {{ form_label(form.age) }}
                        <div class="row m-b-15">
                            <div class="col-md-2 {{ form_errors(form.age)| length ? 'has-error' }}">
                                {{ form_widget(form.age, {attr: {"age-input-only-integer" : ""}}) }}
                                {{ form_errors(form.age) }}
                            </div>
                        </div>

                        {{ form_label(form.password.first) }}
                        <div class="row m-b-15">
                            <div class="col-md-12 {{ form_errors(form.password.first)| length ? 'has-error' }}">
                                {{ form_widget(form.password.first) }}
                                {{ form_errors(form.password.first) }}
                            </div>
                        </div>

                        {{ form_label(form.password.second) }}
                        <div class="row m-b-15">
                            <div class="col-md-12 {{ form_errors(form.password.second)| length ? 'has-error' }}">
                                {{ form_widget(form.password.second) }}
                                {{ form_errors(form.password.second) }}
                            </div>
                        </div>

                        {{ form_label(form.dietAdditionalInformation.countEating) }}
                        <div class="row m-b-15">
                            <div class="col-md-12 {{ form_errors(form.dietAdditionalInformation.countEating)| length ? 'has-error' }}">
                                {{ form_widget(form.dietAdditionalInformation.countEating) }}
                                {{ form_errors(form.dietAdditionalInformation.countEating) }}
                            </div>
                        </div>
                        {{ form_label(form.dietAdditionalInformation.countTraining) }}
                        <div class="row m-b-15">
                            <div class="col-md-12 {{ form_errors(form.dietAdditionalInformation.countTraining)| length ? 'has-error' }}">
                                {{ form_widget(form.dietAdditionalInformation.countTraining) }}
                                {{ form_errors(form.dietAdditionalInformation.countTraining) }}
                            </div>
                        </div>
                        {{ form_label(form.dietAdditionalInformation.trainingDifficulty) }}
                        <div class="row m-b-15">
                            <div class="col-md-12 {{ form_errors(form.dietAdditionalInformation.trainingDifficulty)| length ? 'has-error' }}">
                                {{ form_widget(form.dietAdditionalInformation.trainingDifficulty) }}
                                {{ form_errors(form.dietAdditionalInformation.trainingDifficulty) }}
                            </div>
                        </div>
                        {{ form_label(form.dietAdditionalInformation.purpose) }}
                        <div class="row m-b-15">
                            <div class="col-md-12 {{ form_errors(form.dietAdditionalInformation.purpose)| length ? 'has-error' }}">
                                {{ form_widget(form.dietAdditionalInformation.purpose) }}
                                {{ form_errors(form.dietAdditionalInformation.purpose) }}
                            </div>
                        </div>
                        <div class="register-buttons">
                            {#<button type="submit" class="btn btn-primary btn-block btn-lg">Sign Up</button>#}
                            {{ form_widget(form.submit) }}
                        </div>
                        <div class="m-t-20 m-b-40 p-b-40 text-inverse">
                            Already a member? Click <a href="{{ path("login") }}">here</a> to login.
                        </div>
                        <hr>
                        <p class="text-center">
                            © Healthy Food All Right Reserved 2017
                        </p>
                    </form>
                </div>
                <!-- end register-content -->
            </div>
            <!-- end right-content -->
        </div>
        <!-- end register -->
    </div>
    <!-- end page container -->
{% endblock %}
